# Virtual Environment (uv / python)
.venv/

# Python cache & test artifacts
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.db
*.sqlite
*.sqlite3

# Environment variables / secrets
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
